body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    overflow: hidden;
}

.header-image {
    width: 100%;
    height: auto;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
    width: 200px;
}

.card-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

h3 {
    color: #ff007f;
    font-size: 18px;
}

button {
    background-color: #96b296;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #789879;
}
